.Header .top-bar li > a, .Header .top-bar ul li > a {
  color: #006838; }

.Header .top-bar, .Header .top-bar ul {
  background: none; }

.Header img {
  margin-top: 5px; }

.SubHeader .top-bar, .SubHeader .top-bar ul {
  background: #006838; }

.SubHeader .menu a:first-child {
  padding-left: 0; }

.Cavalo .title {
  margin-bottom: 0.5em; }

.Galeria .video {
  margin-top: 2em; }

.Divisoria {
  border-top: 1px solid gray;
  margin-top: 2.5em; }

body {
  margin: 0; }
  body section {
    margin-top: 2em; }
